*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
.box{
    width:100%;
    min-height:100vh;
    background:linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    color:black;
    padding:10px;
}
.calculator{
    width:100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size:60px;
}
.date{
    margin:40px 0;
    padding:35px;
    border-radius:10px;
    background:rgb(255,255,255,0.5);
    display:flex;
    align-items:center;
}
.date input{
    flex:1;
    margin-right:20px;
    padding:15px 20px;
    border:0;
    outline:0;
    border-radius:5px;
    font-size:18px;
    position:relative;
}
.date button{
    padding:15px 20px;
    background:lightskyblue;
    border:0;outline:0;
    border-radius:5px;
    cursor:pointer;
    font-weight:500;
}
.date input::-webkit-calender-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 20px;
    cursor: pointer;
}
#result{
    font-size:30px;
}
#result span{
    color:mediumseagreen;
}