.con{
    width:100%;
    height:100vh;
    background: rgb(198, 197, 197);
    display:flex;
    align-items: center;
    justify-content: center;
}
.cal{
    background:white;
    padding:20px;
    border-radius:20px;
}
.cal form input{
    border:0;
    outline:0;
    width:60px;
    height:60px;
    border-radius:50%;
    margin:5px;
    font-size: 26px;
    cursor:pointer;
}
.text{
    display: flex;
    justify-content: flex-end;
    margin:10px 0;
    
}
form .text input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
    background-color: mediumseagreen;
    color: white;
    border-radius: 30px;
}
form input.equal{
    width:130px;
    border-radius:5px;
    background-color: lightgreen;
    color:white;
}
form input.div{
    background-color: rgb(41, 39, 39);
    color:white;
}
form input.mul{
    background-color: rgb(212, 62, 212);
    color:white;
    text-align: center;
}
form input.minus{
    background-color: rgb(112, 56, 208);
    color: white;
}
form input.plus{
    background-color: rgb(19, 90, 242);
    color:white;
}