*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.back{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.back h1{
    font-size:50px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
    color:#f9d342;
}
textarea{
    width:700px;
    height:250px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 0;
    font-size: 20px;
    outline:0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    resize:none;
    color:white;
}
textarea::placeholder{
    font-size: 20px;
    color: white;
}
.next{
    width:700px;
    display:flex;
    align-items: center;
    gap:20px;
}
button{
    background:rgb(238, 0, 206) ;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor:pointer;
    display: flex;
    align-items: center;
}
button img{
    width:20px;
    margin-right: 10px;
}
select{
    flex:1;
    background: rgba(255, 255, 255, 0.1);
    height: 50px;
    padding: 0 33px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    appearance: none;
    background-image: url("C:/Users/bharg/Pictures/dropdown.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x:calc(100% - 20px) ;
    background-position-y:20px;
}
